.episodes {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.buttons {
    display: flex;
    justify-content: center;
}
.Morty{
    min-height: 50px;
    background: #d2d9d9;
    text-align: center;
    justify-content: center;
    display: flex;

}