.App{
    margin: 0 auto;
    padding: 0;
   }



button {
    padding: 0.35em 1.2em;
    border: 1px solid lightskyblue;
    margin: 15px;
    border-radius: 5px;
    font-size: 15px;
    color: darkslategrey;
    text-align: center;
    transition: all 0.2s;


}

button:hover {
    background-color: #FFFFFF;
}

.Router{
    background-color: aqua;
    height: 40px;
    display: flex;
    justify-content: right;
    color: black;
    padding-right: 20px;
    font-size: 30px;

}
